In [1]:
pos_score = []
neg_score = []
pos_file = open('pos_score.txt', 'r')
neg_file = open('neg_score.txt', 'r')
for line in pos_file.readlines():
    pos_score.append(float(line))
for line in neg_file.readlines():
    neg_score.append(float(line))
len(pos_score), len(neg_score)

(515212, 515212)

In [2]:
import pandas as pd
data = pd.read_pickle('Filling_nans')
##print(len(data), len(pos_reviews), len(neg_reviews))  (515212, 515212, 515212)
new_dataset = pd.DataFrame({'Hotel_name': data['Hotel_Name'], 'Avg_score': data['Average_Score'], 'pos': pos_score, 
                            'neg':  neg_score, 'Pos_Reviews': data['Positive_Review'], 'Neg_Reviews': data['Negative_Review']})
new_dataset['Neg_Reviews'] = [x.lower().strip() for x in new_dataset['Neg_Reviews']]
new_dataset['Pos_Reviews'] = [x.lower().strip() for x in new_dataset['Pos_Reviews']]
new_dataset.head()

,Avg_score,Hotel_name,Neg_Reviews,Pos_Reviews,neg,pos
0,7.7,Hotel Arena,i am so angry that i made this post available ...,only the park outside of the hotel was beautiful,465.1,23.1
1,7.7,Hotel Arena,no negative,no real complaints the hotel was great great l...,0.0,135.7
2,7.7,Hotel Arena,rooms are nice but for elderly a bit difficult...,location was good and staff were ok it is cute...,63.2,57.3
3,7.7,Hotel Arena,my room was dirty and i was afraid to walk bar...,great location in nice surroundings the bar an...,466.0,63.6
4,7.7,Hotel Arena,you when i booked with your company on line yo...,amazing location and building romantic setting,141.8,43.6

In [3]:
hotel_score = data.groupby(['Hotel_Name','Average_Score']).size().reset_index().rename(columns={0:'count'})
hotel_score.head()

                           Hotel_Name  Average_Score  count
0                  11 Cadogan Gardens            8.7    159
1                            1K Hotel            7.7    148
2  25hours Hotel beim MuseumsQuartier            8.8    689
3                                  41            9.6    103
4  45 Park Lane Dorchester Collection            9.4     28

In [4]:
hotel_score.reset_index().to_csv('hotel_score.csv', index = False) ###write to file

#Ascpect Sentiment Analysis

Top 5 aspects in positive reviews are: "staff", "location", "room", "breakfast", "bed". 
Top 5 aspects in negative reviews are: "room", "breakfast", "staff", "bed", "bathroom".
**staff** in positive reviews

In [5]:
staff_pos_data = new_dataset[new_dataset['Pos_Reviews'].str.contains("staff")]
staff_pos_data.head()
staff_pos_data.to_pickle("staff_pos_data")

**staff** in negative reviews

In [6]:
staff_neg_data = new_dataset[new_dataset['Neg_Reviews'].str.contains("staff")]
staff_neg_data.head()
staff_neg_data.to_pickle("staff_neg_data")

**location** in positive reviews

In [7]:
loc_pos_data = new_dataset[new_dataset['Pos_Reviews'].str.contains("location")]
loc_pos_data.to_pickle("loc_pos_data")
loc_pos_data.head()

,Avg_score,Hotel_name,Neg_Reviews,Pos_Reviews,neg,pos
1,7.7,Hotel Arena,no negative,no real complaints the hotel was great great l...,0.0,135.7
2,7.7,Hotel Arena,rooms are nice but for elderly a bit difficult...,location was good and staff were ok it is cute...,63.2,57.3
3,7.7,Hotel Arena,my room was dirty and i was afraid to walk bar...,great location in nice surroundings the bar an...,466.0,63.6
4,7.7,Hotel Arena,you when i booked with your company on line yo...,amazing location and building romantic setting,141.8,43.6
7,7.7,Hotel Arena,apart from the price for the brekfast everythi...,good location set in a lovely park friendly st...,2.4,73.7

**room** in positive reviews

In [8]:
rm_pos_data = new_dataset[new_dataset['Pos_Reviews'].str.contains("room")]
rm_pos_data.to_pickle("rm_pos_data")
rm_pos_data.head()

,Avg_score,Hotel_name,Neg_Reviews,Pos_Reviews,neg,pos
1,7.7,Hotel Arena,no negative,no real complaints the hotel was great great l...,0.0,135.7
6,7.7,Hotel Arena,cleaner did not change our sheet and duvet eve...,the room is spacious and bright the hotel is l...,39.4,60.1
9,7.7,Hotel Arena,the aircondition makes so much noise and its h...,the room was big enough and the bed is good th...,21.4,22.6
10,7.7,Hotel Arena,nothing all great,rooms were stunningly decorated and really spa...,5.6,143.1
11,7.7,Hotel Arena,6 30 am started big noise workers loading wood...,style location rooms,138.1,22.7

**room** in negative reviews

In [9]:
rm_neg_data = new_dataset[new_dataset['Neg_Reviews'].str.contains("room")]
rm_neg_data.to_pickle("rm_neg_data")
rm_neg_data.head()

,Avg_score,Hotel_name,Neg_Reviews,Pos_Reviews,neg,pos
0,7.7,Hotel Arena,i am so angry that i made this post available ...,only the park outside of the hotel was beautiful,465.1,23.1
2,7.7,Hotel Arena,rooms are nice but for elderly a bit difficult...,location was good and staff were ok it is cute...,63.2,57.3
3,7.7,Hotel Arena,my room was dirty and i was afraid to walk bar...,great location in nice surroundings the bar an...,466.0,63.6
4,7.7,Hotel Arena,you when i booked with your company on line yo...,amazing location and building romantic setting,141.8,43.6
8,7.7,Hotel Arena,even though the pictures show very clean rooms...,no positive,29.2,0.0

**breakfast** in positive reviews

In [10]:
bk_pos_data = new_dataset[new_dataset['Pos_Reviews'].str.contains("breakfast")]
bk_pos_data.to_pickle("bk_pos_data")
bk_pos_data.head()

,Avg_score,Hotel_name,Neg_Reviews,Pos_Reviews,neg,pos
2,7.7,Hotel Arena,rooms are nice but for elderly a bit difficult...,location was good and staff were ok it is cute...,63.2,57.3
7,7.7,Hotel Arena,apart from the price for the brekfast everythi...,good location set in a lovely park friendly st...,2.4,73.7
9,7.7,Hotel Arena,the aircondition makes so much noise and its h...,the room was big enough and the bed is good th...,21.4,22.6
13,7.7,Hotel Arena,no negative,this hotel is being renovated with great care ...,0.0,141.9
19,7.7,Hotel Arena,we had issues with our electronic key everyday...,i liked the hotels history and for such an eno...,98.2,38.2

**breakfast** in negative reviews

In [11]:
bk_neg_data = new_dataset[new_dataset['Neg_Reviews'].str.contains("breakfast")]
bk_neg_data.to_pickle("bk_neg_data")
bk_neg_data.head()

,Avg_score,Hotel_name,Neg_Reviews,Pos_Reviews,neg,pos
12,7.7,Hotel Arena,the floor in my room was filfy dirty very basi...,comfy bed good location,45.6,48.1
17,7.7,Hotel Arena,we did not like the fact that breakfast was no...,we loved the location of this hotel the fact t...,81.5,159.6
32,7.7,Hotel Arena,our bathroom had an urine order shower was ver...,no positive,143.2,0.0
35,7.7,Hotel Arena,construction on site but not mentioned on book...,very nice hotel manager he upgraded us because...,38.4,68.8
36,7.7,Hotel Arena,not cleaned well lady pushing to pay during my...,the building meeting rooms modern style of my ...,57.8,20.6

**bed** in positive reviews

In [12]:
bed_pos_data = new_dataset[new_dataset['Pos_Reviews'].str.contains("bed")]
bed_pos_data.to_pickle("bed_pos_data")
bed_pos_data.head()

,Avg_score,Hotel_name,Neg_Reviews,Pos_Reviews,neg,pos
9,7.7,Hotel Arena,the aircondition makes so much noise and its h...,the room was big enough and the bed is good th...,21.4,22.6
12,7.7,Hotel Arena,the floor in my room was filfy dirty very basi...,comfy bed good location,45.6,48.1
17,7.7,Hotel Arena,we did not like the fact that breakfast was no...,we loved the location of this hotel the fact t...,81.5,159.6
22,7.7,Hotel Arena,sadly i cannot say that the rooms are clean en...,the location is good you need 15min to 20min w...,570.5,85.6
23,7.7,Hotel Arena,transportation was a bit of a pain but on rout...,bed was extremely comfy and the staff where we...,11.9,116.0

**bed** in negative reviews

In [13]:
bed_neg_data = new_dataset[new_dataset['Neg_Reviews'].str.contains("bed")]
bed_neg_data.to_pickle("bed_neg_data")
bed_neg_data.head()

,Avg_score,Hotel_name,Neg_Reviews,Pos_Reviews,neg,pos
3,7.7,Hotel Arena,my room was dirty and i was afraid to walk bar...,great location in nice surroundings the bar an...,466.0,63.6
6,7.7,Hotel Arena,cleaner did not change our sheet and duvet eve...,the room is spacious and bright the hotel is l...,39.4,60.1
16,7.7,Hotel Arena,very steep steps in room up to the bed not saf...,great onsite cafe amazing building park locati...,58.6,74.8
19,7.7,Hotel Arena,we had issues with our electronic key everyday...,i liked the hotels history and for such an eno...,98.2,38.2
20,7.7,Hotel Arena,bed was on upper level with a narrow twist sta...,friendly staff oostpark a few yards away good ...,111.4,48.5

**bathroom** in negative reviews

In [14]:
bath_neg_data = new_dataset[new_dataset['Neg_Reviews'].str.contains("bathroom")]
bath_neg_data.to_pickle("bath_neg_data")
bath_neg_data.head()

,Avg_score,Hotel_name,Neg_Reviews,Pos_Reviews,neg,pos
17,7.7,Hotel Arena,we did not like the fact that breakfast was no...,we loved the location of this hotel the fact t...,81.5,159.6
21,7.7,Hotel Arena,our room was an overrated disaster room 231 di...,the breakfast was the only positive element of...,349.1,71.9
22,7.7,Hotel Arena,sadly i cannot say that the rooms are clean en...,the location is good you need 15min to 20min w...,570.5,85.6
25,7.7,Hotel Arena,the bathroom in our room was a black glass box...,great location in the park near museums and re...,94.0,192.4
28,7.7,Hotel Arena,we had 2 different rooms here and both were du...,the hotel itself is beautiful restaurant is ve...,22.3,74.0